Checks: >
  -*,
  c23-*,
  posix-*,
  cert-env33-c,
  bugprone-*,
  readability-*,
  portability-*,
  misc-*,
  google-*,
  performance-*,
  concurrency-*

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: google
UseColor: true
User: true
