[user]
    name = enveng-group
    email = agallo@enveng-group.com.au
    signingkey = 40066F1B89179D09

[core]
    compression = 9
    whitespace = trailing-space
    autocrlf = input
    eol = lf
    safecrlf = true
    fsmonitor = true
    sshCommand = dbclient -K 60 -y -A git@github.com -i /home/appuser/.ssh/id_dropbear
    preloadIndex = true
    bigFileThreshold = 1m
    packedGitLimit = 512m
    packedGitWindowSize = 512m
    version = 4

[http]
    postBuffer = 524288000
    maxRequestBuffer = 100M
    SpeedLimit = 1000
    lowSpeedTime = 60

[gpg]
    program = gpg

[tag]
    gpgSign = true

[commit]
    gpgSign = true

[color]
    ui = auto

[pull]
    rebase = true

[rebase]
    autoSquash = true

[apply]
    whitespace = fix

[help]
    autocorrect = 1

[gc]
    auto = 1
    autoDetach = true
    pruneExpire = now
    aggressive = true
    writeCommitGraph = true

[fsck]
    strict = true
    missingEmail = ignore
    missingSignatures = ignore

[fetch]
    prune = true
    parallel = 0
    pruneTags = true
    prefetch = true
    writeCommitGraph = true
    manyFiles = true
    unpackLimit = 1

[feature]
    manyFiles = true
    commitGraph = true
    sparse = true

[maintenance]
    auto = true
    schedule = daily
    task = gc,commit-graph,loose-objects,incremental-repack
    strategy = incremental
    commit-graph = true
    prefetch = true

[pack]
    threads = 1
    deltaCacheSize = 128m
    windowMemory = 128m
    compression = 9
    writeReverseIndex = true
    useSparse = true
    # Added for large repos
    packSizeLimit = 2g
    window = 10

[receive]
    fsckObjects = true

[transfer]
    fsckObjects = true
    unpackLimit = 1

[push]
    autoSetupRemote = true

[remote]
    pushDefault = origin

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --oneline --graph --decorate --all
