# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.lo
*.Plo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la

# Shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build artifacts
build/
bin/

# Configuration and build scripts
config.*

# Development environment files
.vscode/
*.db
*.db-*
*.env*
*.flaskenv*

# Temporary and backup files
*.log
*.tmp
*.swp
.DS_Store

# GTK-Doc and SGML artifacts
*.stamp
*-doc.*
*-decl.*
*.xml
gtk-doc.make
stamp-h1

# Node.js dependencies and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignoring sensitive or system-specific files
.env*
*.vault

# Exceptions
!.env.project
!.env.vault
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
!app.1.pdf

.flaskenv*
